tmp/*
ssltmp/*
*.cssmin.css
*.jsmin.js
data/error.log
data/tracking.js
data/banner.list
data/sitemap.xml
class/config/Variables.class.php
utils/*
google*
mobile/*
BingSiteAuth.xml
NerdzMessenger.apk
.DS_Store
*.swp
*.orig
/class/vendor/
composer.lock
*.jade
*.less
.htaccess
