[submodule "tpl/2"]
        path = tpl/2
        url = git://github.com/DrJest/nerdz-template-metro.git
[submodule "tpl/1"]
        path = tpl/1
        url = git://github.com/nerdzeu/nerdz-template-black-mobile.git
[submodule "tpl/0"]
        path = tpl/0
        url = git://github.com/nerdzeu/nerdz-template-black.git
