tmp/*
ssltmp/*
pages/executables/*
*.cssmin.css
*.jsmin.js
data/errlog.txt
class/config/index.php
utils/*
google*
mobile/*
pages/cache/*
BingSiteAuth.xml
smapxml
.DS_Store
y_key_85b60785628865ce.html
*.swp
*.orig
