{
    "POSTGRESQL_HOST": "127.0.0.1",
    "POSTGRESQL_PORT": "5432",
    "POSTGRESQL_DATA_NAME": "nerdz",
    "POSTGRESQL_USER": "nerdz",
    "POSTGRESQL_PASS": "nerdz",
    "MIN_LENGTH_USER": 2,
    "MIN_LENGTH_PASS": 6,
    "MIN_LENGTH_NAME": 2,
    "MIN_LENGTH_SURNAME": 2,
    "CAPTCHA_LEVEL": 5,
    "SMTP_SERVER": "mail.example.com",
    "SMTP_PORT": "465",
    "SMTP_USER": "bob",
    "SMTP_PASS": "KFC",
    "SITE_NAME": "NERDZ TEST",
    "SITE_HOST": "www.example.com",
    "STATIC_HOST": "static.example.com",
    "MOBILE_HOST": "mobile.example.com",
    "ISSUE_GIT_KEY": "...",
    "CAMO_KEY": "THAT-CAMO-KEY",
    "MEDIA_HOST": "media.example.com",
    "TRUSTED_PROXIES": [],
    "API_URL": "https://api.example.com"
}
